
.ipynb_checkpoints/German Credit Risk Classification using Tree based Algorithms-checkpoint.ipynb
.ipynb_checkpoints/Logistic Regression on MNIST dataset-checkpoint.ipynb
.ipynb_checkpoints/Movie Recommendation Systems-checkpoint.ipynb
.ipynb_checkpoints/Time Series Analysis on AirBnB dataset-checkpoint.ipynb
.ipynb_checkpoints/Wine Customer Segmentation using Clustering-checkpoint.ipynb
datasets/combined_data.csv
